div.colourwindowarrowcontainer
    svg.colourpickerwindowarrow(height="80" width="80" fill="#EFEFEF")
        path(d="M 10,40 40,20 40,60 Z")
div
div.colourpickerwindow
    p.colours-text Colors
    div#colourpickercontainer
    p.history-text History
    div#historycontainer
        p#noColorsInHistory No colors in history. Start drawing to add some!