div#eraserwindow
    div.eraserwindowarrowcontainer
        svg.eraserpickerwindowarrow(height="80" width="80" fill="#EFEFEF")
            path(d="M 10,40 40,20 40,60 Z")
    div
    div.eraserpickerwindow
        p.eraser-text Eraser
            div#erasertypescontainer
            div#erasersizecontainer
        
        