div#eraserwindow.side-window
    div.eraserwindowarrowcontainer
        svg.eraserpickerwindowarrow(height="80" width="80" fill="#EFEFEF")
            path(d="M 10,40 40,20 40,60 Z")
    div
    div.eraserpickerwindow
        p.eraser-text Eraser
            div#erasertypescontainer
                div#normalerasercontainer.erasercontainer                     
                    p.eraser-name Simple
                    img(src="/images/normal-eraser-stroke.svg" alt="Eraser stroke" width="117" height="29")
            div#erasersizecontainer
                input.slider#eraserslider(type="range" min="1" max="100" value="50")
                img.slidertriangle(src="/images/slider.svg" width="27" height="310")
                
        
        