div#brushwindow.side-window
    div.brushwindowarrowcontainer
        svg.brushpickerwindowarrow(height="80" width="80" fill="#EFEFEF")
            path(d="M 10,40 40,20 40,60 Z")
    div
    div.brushpickerwindow
        p.brush-text Brushes
            div#brushtypescontainer
                div#normalbrushcontainer.brushcontainer                     
                    p.brush-name Simple
                    img(src="/images/normal-eraser-stroke.svg" alt="Eraser stroke" width="117" height="29")
                div#testpaintcontainer.brushcontainer                     
                    p.brush-name Simple
                    img(src="/images/normal-eraser-stroke.svg" alt="Eraser stroke" width="117" height="29")
            div#brushsizecontainer
                input.slider#brushslider(type="range" min="1" max="80" value="10")
                img.slidertriangle(src="/images/slider.svg" width="27" height="310")