//- - var colordot = 'blue';
div.canvas-sidebar
    button.hamburger-menu
        img(src="/images/hamburger-menu.png" alt="Hamburger Menu" width="25" height="21")
    div.button-container
        button.color-button.side-buttons
            .color-dot
    div.button-container
        button.paintbrush-button.side-buttons
            img(src="/images/paintbrush-button.png" alt="Paintbrushes" width="20" height="20")
    div.button-container
        button.eraser-button.side-buttons
            img(src="/images/eraser-button.png" alt="Eraser" width="20" height="20")
    div.button-container
        button.move-button.side-buttons
            img(src="/images/move-button.png" alt="Move" width="20" height="20")
    div.button-container
        button.layers-button.side-buttons
            img(src="/images/layers-button.png" alt="Layers" width="20" height="20")