div.canvas-topbar
    button#undo.undo-redo
        img(src="/images/undo.svg" alt="Undo" width="15" height="15")
    button#redo.undo-redo
        img(src="/images/redo.svg" alt="Undo" width="15" height="15")