html, body{
    height:100%;
    width: 100%;
    margin: 0px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

button{
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

#drawCanvas{
    /* border: 0.5px black solid !important; */
    background-color: white;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #C4C4C4;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    padding-left:70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========================== Topbar ========================== */

.canvas-topbar{
    background-color: #F6F6F6;
    width: 100%;
    height: 60px;
    position: fixed; 
    top: 0;
    z-index: 99;
    text-align: right;
}

#redo{
    margin-right: 50px;
}

.undo-redo{
    width: 30px;
    height: 30px;
    background: #F6F6F6;
    box-shadow: -3px -3px 8px #FFFFFF, 3px 3px 8px rgba(209, 209, 209, 0.5);
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
    padding-top: 3px;
}

.undo-redo-active:active{
    background: #EFEFEF !important;
    box-shadow: inset 3px 3px 8px #DADADA, inset -3px -3px 8px rgba(255, 255, 255, 0.5);
}

.undo-redo-active:hover{
    background: #FFFFFF;
}

/* ========================== Sidebar ========================== */

.canvas-sidebar{
    background-color: #EFEFEF;
    height: 100%;
    width: 75px;
    float:left;
    position: fixed;
    z-index: 100;
}

.button-container{
    display: flex;
    justify-content: center;
}

.hamburger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 60px;
    margin-bottom: 10px;
}

.side-buttons{
    width: 35px;
    height: 35px;
    background: #EFEFEF;
    box-shadow: -3px -3px 8px #FFFFFF, 3px 3px 8px rgba(201, 201, 201, 0.5);
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .side-buttons:active{
    background: #EFEFEF !important;
    box-shadow: inset 3px 3px 8px #DADADA, inset -3px -3px 8px rgba(255, 255, 255, 0.5);
} */

/* .side-buttons:hover{
    background: #FFFFFF;
} */

.pressed{
    background: #EFEFEF;
    box-shadow: inset 3px 3px 8px #DADADA, inset -3px -3px 8px rgba(255, 255, 255, 0.5);
}

#color-dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #0086ff;
    border: 1px solid #FFFFFF;
}

/* ========================== Color window ========================== */

#colourwindow{
    display: block;
}

.colourpickerwindow{
    width: 240px;
    height: 420px;
    position: fixed;
    z-index: 102;
    margin-left: 100px;
    margin-top: 75px;
    background: #EFEFEF;
    border-radius: 3px;
}

.colourwindowarrowcontainer{
    position: fixed;
    z-index: 102;
    margin-top: 60px;
    margin-left: 70px;
}

.colourpickerwindowarrow path{
    stroke-width: 5;
    stroke: #EFEFEF;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.colours-text, .eraser-text, .brush-text{
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #747474;
    margin-left: 15px;
}

#colourpickercontainer{
    text-align: center;
}

.history-text{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #747474;
    margin-left: 25px;
}

#historycontainer{
    width: 190px;
    height: 95px;
    margin: auto;
}

#noColorsInHistory{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9C9C9C;
    width: 139px;
    margin: auto;
    margin-top: 30px;
}

/* ========================== Eraser window ========================== */

.eraserwindowarrowcontainer{
    position: fixed;
    z-index: 102;
    margin-top: 180px;
    margin-left: 70px;
}

.eraserpickerwindow, .brushpickerwindow{
    width: 260px;
    height: 420px;
    position: fixed;
    z-index: 102;
    margin-left: 100px;
    margin-top: 75px;
    background: #EFEFEF;
    border-radius: 3px;
}

#eraserwindow, #brushwindow{
    display: none;
}

#erasertypescontainer, #brushtypescontainer{
    display: inline-block;
    margin-left: 20px;
    width: 160px;
    height: 300px;
    /* border: red solid 1px; */
    vertical-align: top;
}

#erasersizecontainer, #brushsizecontainer{
    display: inline-block;
    margin-left: 20px;
    width: 33px;
    height: 300px;
    text-align: center;
    /* border: red solid 1px; */
}

.erasercontainer, .brushcontainer{
    width: 157px;
    height: 70px;
    background: #A6A6A6;
    border-radius: 3px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    margin-bottom: 5px;
}

.erasercontainer:hover, .brushcontainer:hover{
    background: #8FC4F5 !important;
}

.erasercontainer:active, .brushcontainer:active{
    background: #4FA2EE;
}

.eraser-name, .brush-name{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: #F1F1F1;
    margin-top: 0px;
    margin-bottom: 5px;
}

.slidertriangle{
    top: -20px !important;
    position: relative;
    z-index: 0;
}

.slider{
    -webkit-appearance: none;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 50% 2750%;;
    -moz-transform-origin: 50% 2750%;;
    -ms-transform-origin: 50% 2750%;;
    -o-transform-origin: 50% 2750%;;
    transform-origin: 50% 2750%;
    /* background: #A6A6A6; */
    background: transparent;
    width: 300px;
    height: 5px;
    vertical-align: bottom;
    outline: none !important;    
    position: relative;
    z-index: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none; 
    appearance: none;
    height: 34px;
    width: 8px;
    background: #4FA2EE;
    border-radius: 5px;
    cursor: pointer; 
}
  
.slider::-moz-range-thumb{
    height: 34px;
    width: 8px;
    background: #4FA2EE;
    border-radius: 5px;
    cursor: pointer; 
}

.slider::-webkit-slider-thumb:hover{
    background: #8FC4F5;
}

/* ========================== Brush window ========================== */

.brushwindowarrowcontainer{
    position: fixed;
    z-index: 102;
    margin-top: 120px;
    margin-left: 70px;
}





